/*
*-----------------------------------------------------------------------------------------------------------------------------------------*
* Descripcion:    Hoja de estilos Dialog Edit Comunicacion                                                                                 *
* Autor:          Heber Alejandro Arce Sanchez                                                                                            *
* Version:        1.0a1                                                                                                                   *
* Fecha Creacion: 16/06/2023                                                                                                              *
*-----------------------------------------------------------------------------------------------------------------------------------------*
* Log de Modificación                                                                                                                     *
*                                                                                                                                         *
*   Fecha           Programador            Correccion                                     Descripcion                                     *
*16/06/2023    Heber Alejandro Arce      s/n Solicitud       Se crea hoja de estilos en base a interesados                                *
*-----------------------------------------------------------------------------------------------------------------------------------------*
*/
.h2-dialog{
  background-color: #4f6d7a;
  color: #fff;
  font-family: "Source Sans Pro",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol";
}
.select-impact{
  display: flex;
  flex: 1;
  width: 100%;
  font-size: 10px;
  padding: 5px 8px;
  margin: 0;
  outline: none;
  cursor: pointer;
  border-radius: 1;
  background-color: transparent;
  color: #595959;
}

.input-readonly {
  width: 100%;
  font-size: 10px;
  pointer-events: none;
  background-color: #f3f2f2;
}
.footer-dialog {
  background-color: #a6a6a6;
  height: 100%;
}
.panel-header {
  height: 30px;
  font-size: 11px;
}

.icon-btn {
  font-size: 9px;
}
.btn-f {
  font-size: 9px;
  font-weight: bold;
  max-width: 22px;
  max-height: 18px;
}
.item-mail {
  font-size: 10px; /* Ajusta aquí el tamaño de fuente deseado */
}
.item-content {
  font-size: 12px; /* Ajusta aquí el tamaño de fuente deseado */
  align-items: flex-start;
}
.mat-horizontal-stepper {
  max-height: 700px; /* Ajusta el valor de altura según tus necesidades */
}
.subt-cell{
  font-size: 9px;
  background-color: #fff;
}
.subt-cell2{
  font-size: 9px;
  background-color: #fff8ec;
}
.subt-row{
  font-size: 9px;
  background-color: #f3f2f2;
}
.subt-head{
  font-size: 10px;
  color: #fff;
  background-color: #4b3f72;
}
.subt-head2{
  font-size: 10px;
  color: #fff;
  background-color: #99c24d;
}
