.login-page{
	background: #fcb800;
  background-image: url('../../../assets/img/wallppr1.png');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
  background-position: center center; /* Centra la imagen horizontal y verticalmente */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}
.logo{
  width: 200px;
}
